@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

.header {
  height: 120px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.body {
  margin: 20px;
  overflow-x: hidden;
}

.main--page--wrapper {
  margin-top: 12px;
}

.container {
  margin: 0 auto;
  width: 1140px; 
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 30px;
  margin-bottom: 122px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col-align-right {
  justify-content: end;
}

.logo {
  display: block;
  margin-right: 80px;
}

.menu {
  
}
.contacts {
  
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__list {
  margin: 13px;
  margin-left: 0;
}

.menu__list :last-child {
  margin-right: 0;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__tel {
  font-style: normal;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 10px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

.main {
  margin-top: 100px;
}

.preview {
  width: 50%;
}

.preview__title h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 28px;
}

.preview__text {
  font-size: 18px;
  margin-bottom: 31px;
}

.preview__button {
  background: #F5170E;
  border-radius: 35px;
  border-color:  #F5170E;
  padding: 18px 40px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}

.section {
  margin-bottom: 127px;
  margin-top: 246px;
}

.features__title {
  margin-bottom: 51px;
}

.features__title h2 {
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
}

.features__title-img {
}

.features__list {
  display: flex;
}

.features__img-icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.features__item {
  min-height: 452px;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
  margin-right: 22px;
  flex: 1;
}

.features__item:last-child {
  margin-right: 0;
}

.features__img {
  min-height: 144px;
  margin-bottom: 30px;
  border-radius: 5px 5px 0 0;
}

.features__content {
  padding: 0 22px 5px;
  color: #303030;
}

.features__subtitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 13px;
}

.features__desc-block {
  display: inline-block;
  vertical-align: top;
  width: 126px;
  margin-right: 26px;
  margin-bottom: 33px;
}

.features__desc-block:last-child {
  margin-right: 0;
}

.features__desc-block-text {
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  font-size: 16px;
  color: #666666;
  padding-left: 10px;
}

.features__subtitle-text {
  color: #303030; 
  margin-bottom: 25px;
}

.features__button {
  background: #fff;
  border-radius: 35px;
  padding: 18px 30px;
  color: #F5170E;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  border-color: #F5170E;
  outline: none;
}

.features__button:hover {
  background: #F5170E;
  color: #fff;
}

.news {
  margin-top: 127px
}

.news__title {
  margin-top: 127px;
  margin-bottom: 51px;
}

.news__title-text {
  font-size: 36px;
  font-weight: bold;
}

.news__list {
  display: flex;

}

.news__item {
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
  flex: 1;
}

.news__item :last-child {
  margin-right: 0;
}

.news__item-img {
  display: inline;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-year .news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 46px 30px;
  min-height: 140px;
}

.serf {
  margin-right: 0;
}

.serf .news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 23px 39px;
  min-height: 140px;
}

.news__title-text-date {
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.news__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
}

.news__text {
  font-size: 16px;
}

.news {
  margin-bottom: 55px;
}

.paginator {
  margin: 53px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator__display, .paginator__list {
}

.paginator__display {
  margin-right: 25px;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__item {
}

.paginator__link {
  display: block;
  padding: 6px 12px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
}

 .paginator__item--active  {
  background: #ffffff;
  color: #F5170E; 
}

.about-us {
  padding-top: 89px;
  display: flex;
}

.about-us:before {
  content: "";
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url(./images/gates.png) center center / cover no-repeat;
}

.about-us__content {
  width: 782px;
  height: 447px;
  background: url(./images/mountains.png) center center / cover no-repeat;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: -139px;
}

.about-us__title {
  position: absolute;
  padding: 67px 397px 61px 81px;

}

.about-us__title-img {
  padding: 80px 70px;
  position: relative;
}

.about-us__tiltle-text {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 36px;
}

.about-us__text {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 44px;
  padding-right: 8px;
}

.about-us__text p {
  margin-bottom: 20px;
}

.about-us__text p:last-child {
  margin-bottom: 0;
}

.about-us-button {
  background: #F5170E;
  border-radius: 35px;
  border-color:  #F5170E;
  padding: 18px 40px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}


.footer-container {
  margin: 0 auto;
  width: 1140px;
  height: 146px;
  margin-top: -73px;
  display: flex;
}

.footer-container__content {
  border-top: 1px solid  #FFFFFF;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.footer__col-align-right {
  display: flex;
  align-items: center;
  align-items: flex-end;
}

.logo {
  margin-right: -134px;
}

.menu__list {
  margin-left: 213px;
  margin-top: 23px;
}

.contacts__text {
    display: block;
  color: #9A9A9A;
  font-size: 11px;
  padding-bottom: 10px;
}

.socials__list {
  margin-right: 63px;
  margin-bottom: 8px;
}

.socials__item {
  display: inline-flex;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

a.socials__link: hover {
  filter: invert (.5)
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials {
  top: 34px;
  right: 252px;
}

.main--page--wrapper {
  background: url(./images/1.png) center top no-repeat,url(./images/2.png) right bottom 165px no-repeat;
}

/* services */

.top-line {
  min-height: 412px;
  background: ;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  background: url(./images-2/headline\ 1.jpg) right 52% top no-repeat;
}

.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  margin-bottom: 86px;
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 12px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs__item:after {
  content: "/";
  color: #999999;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}

.page-content {
  background: #F2F2F2;
  color: #303030;
  padding: 40px 0;
}

.service {
  display: flex;
}

.services {
  margin-top: 64px;
}

.services__item {
  margin-bottom: 56px;
}

.services__item :last-child {
  margin-bottom: 0;
}

.service__img {
  width: 40%;
  margin-right: 6%;
}

.service__content {
  flex: 1;
}

.services__title {
  color:  #000000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 42px;
  margin-top: 14px;
}

.services__desc {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.services__button {
  background: #fff;
  border-radius: 35px;
  padding: 18px 30px;
  color: #F5170E;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  border-color: #F5170E;
  outline: none;
}

.paginator {
  margin: 68px;
  margin-right: 6px;
}

.paginator__service {
  padding-right: 50px;
}

.paginator__item--active  {
  background: #F5170E;
  color: #ffffff;
}

.inner-section {
  background: #fff;
  color: #1A1B1E;
  padding: 114px;
}

.inner-section--bg-grey {
  background: #F4F5F5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 152px;
  margin-top: -52px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  margin-left: -83px;
  margin-top: -88px;
}

.partners__item {
  margin-left: px;
}

.partners__item:nth-child(4n +1 ) {
  margin-left: 0;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 270px;
  height: 100px;
  align-items: center;
  justify-content: center;

}

.inner-footer {
  margin-top: auto;
}